@charset "UTF-8";



*{margin:0; padding:0;}
ul,li,ol{list-style: none;}
a{text-decoration: none; color:#363636;}
.container{width:1280px; height:100%; margin:0 auto; border:2px solid red;}

header{width:100%; height:84px; background-color: aqua;}
.menu{width:100%; height:30px; 
    display: flex; justify-content: center;
    background-color: cadetblue;}
.menu li{float:left; margin:0 20px 0px 20px; padding:10px; 
    color:#363636;
    line-height: 1.6;
    letter-spacing: 0px;
    font-weight:100;
    font-style: normal;
    font-family: 'Gilroy', sans-serif;}
section{width:100%; height:1670px; background-color:floralwhite;}

.first{width:100%; height:950px; 
    display: flex; justify-content: space-evenly;
    flex-wrap: wrap; flex-direction: row;
    align-items: center;
    background-color: indianred;}
.box{width:195px; height:440px; background-color: lavender;}

.second{width:100%; height:345px; 
    display: flex; justify-content: space-evenly;
    flex-wrap: wrap; flex-direction: row;
    align-items: center;
    background-color: greenyellow;}
.box2{width:316px; height:322px; background-color: lightblue;}
.box2 img{width:100%; height:auto;}

.third{width:100%; height:334px; background-color: gold;}
.box3{width:100%; height:310px; background-color: lightcoral;}

footer{width:100%; height:133px; background-color: darkcyan;}
footer p {font-size: 12px; text-align: center;}