@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{margin:0; padding:0;}
ul,li,ol{list-style: none;}
a{text-decoration: none; color:#363636;  transition:all 0.5s ease;}
.container{width:1280px; height:100%; margin:0 auto; }

header{width:100%; height:84px;
   }
header .container{display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;}    

#logo{width:122px; height:84px; 
    display: flex;
    justify-content: center;
    }
#logo img{width:80%; height:auto;}
.search{width:720px; height:34px; 
    border:1px solid #dadada; border-radius: 5px;}
    

#icon{width:122px; height:84px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:28px;
    opacity: 0.3;}

.line{width:100%; height:1px; background-color: #b2b2b2;}

.menu{width:100%; height:30px; 
    display: flex; justify-content: center;
    }
.menu li{float:left; margin:0 10px 0px 10px; padding:12px; 
    color:#363636;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0px;
    font-weight:300;
    font-family: 'Montserrat', sans-serif;}
a:hover{color:#337ab7;}    
section{width:100%; height:2700px;}

section .container {position: relative;}
.first{width:100%; height:1810px; 
    padding-top:30px;
    display: flex; justify-content: space-evenly;
    flex-wrap: wrap; flex-direction: row;
    align-items: center;
   }
.event{width:80%; height:175px; 
    margin:100px 0 0px 140px;
    position:relative;
    } 

.eventimg{width:80%; height:auto;
            position:absolute;
            left:10%;} 

.event2{width:80%; height:175px; 
        margin:100px 0 0px 140px;
        position:relative;
        background-color: #e34b64;
         } 
.duneimg{width:80%; height:auto;
            position:absolute;
            left:10%;}                      

.newbook {position:absolute; top:8.5%; left:2%;}          
    
.box,.boxx,.boxxx,.boxxxx {width:195px; height:350px; 
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
   }

.box img, .boxx img, .boxxx img { width:80%; height:auto; }

.price {font-size:13px;}

.new{width:60px; height:20px; 
    color:white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:small;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    background-color: #363636;}


.sold{width:60px; height:20px; 
    color:white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:10px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    background-color: #e34b64;}


.second{width:100%; height:370px; 
    display: flex; justify-content: space-evenly;
    flex-wrap: wrap; flex-direction: row;
    align-items: center;
    padding-top: 30px;
    }
.box2{width:300px; height:322px; }
.box2 img{width:100%; height:170px;}
.box2 p:not(.title){margin-top:20px;
    font-size: 12px; font-family: 'Gilroy','Apple SD Gothic Neo, Malgun Gothic, Nanum Gothic, Meiryo, sans-serif, serif, Arial','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
}
.title{font-size:15px; font-family: 'Gilroy','Apple SD Gothic Neo, Malgun Gothic, Nanum Gothic, Meiryo, sans-serif, serif, Arial','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
}

.third{width:100%; height:334px; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }
.box3{width:410px; height:310px; }
.box3 img{width:100%; height:auto;}


footer{width:100%; height:133px; 
   }

footer .container{display: flex;
    justify-content: center;
    align-items: center;}    
footer p {font-size: 12px; text-align: center; font-family: 'Gilroy', sans-serif;}